<table class="table table-bordered">
  <tbody>
  <% @tasks.each do |task| %>
      <tr>
        <td><span class="title"><%= task.title %></span></td>
        <td><%= link_to 'Edit', edit_task_path(task), class: 'btn btn-warning btn-sm' %></td>
        <td><%= link_to 'Delete', task_path(task), method: :delete, class: 'btn btn-danger btn-sm' %></td>
        <td><%= link_to 'Complete', task_path(id: task.id, task: {completed: true}), method: :patch, class: 'btn btn-primary btn-sm' %></td>
      </tr>
  <% end %>
  <% @completed_tasks.each do |task| %>
    <tr>
      <td><span class="title"><%= task.title %></span></td>
      <td><%= link_to 'Edit', edit_task_path(task), class: 'btn btn-warning btn-sm' %></td>
      <td><%= link_to 'Delete', task_path(task), method: :delete, class: 'btn btn-danger btn-sm' %></td>
      <td><%= link_to 'Complete', task_path(id: task.id, task: {completed: true}), method: :patch, class: 'btn btn-primary btn-sm' %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "New Task", new_task_path, class: 'btn btn-success' %>
